<!DOCTYPE html>
<html>
  <div class="row">
        <div class="column">
          <div class="card">
            <img src="/w3images/team1.jpg" alt="Anita" style="width:100%"> #need to change file
            <div class="container">
              <h1 align = "center">Anita Zhen</h1>
              <p class="title">Founder of Shooting Stars Application</p>
              <p>Front end Software Engineer</p>
              <p>anitazhen8@gmail.com</p>
            </div>
          </div>
        </div>
      
      <!-- About -->
      <p>Hi! My name is Anita Zhen. I created this website for students to navigate when they are deciding to have the option to study abroad. Even though there are tons of websites and resources out there; my site differs from them because this is an all in one package. Students can find all the listing, communicate with the families from overseas, and use the application when they study abroad in thier designated country. This site will have all the resources planned out for them while they plan to live here during the school year and they can use the application such as Lyft transportation and other daily necessities. I want students who use this site to feel safe, trusted, and most importantly feel happy while living in their second home.</p>  
</html>