<!DOCTYPE html>
<html>
<head>
  
</head>

<body>

  

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      
    </a>
    <h1>Welcome Shooting Stars!</h1>
   
</div> 


</body>
</html>
